<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AmazingApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CDDE69C1DDF8F74004E221F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CDDE6B81DDF8F74004E221F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CDDE6C31DDF8F74004E221F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
